:root {
    --white-color: #ffffff;
    --black-color: #000000;

    --text-color: #E7E7E7;
    --accent-color: #BF463B;

    --primary-color: #4B6A71;
    --secondary-color: #1B3A41;

    --background-color: #D9EBF2;
    
    // #C0D5DD
    // #B2C7CF
    // #96B3BE
    // #8EADB4
    // #1D353F
}