* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    position: relative;
    font-size: 1em;
    background-color: #000000;
}

body {
    aspect-ratio: 9 / 16;
    width: 100%;
    max-width: 1080px;
    background-color: #ffffff;
    height: max-content;
}

#homePage{
    height: 100%;
}


// Header et footer
header {
    position: sticky;
    background-color: rgb(183, 101, 101);
    top: 0;
    width: 100%;
    left: 0;
    height: 10%;
    z-index: 2;
}

footer {
    position: absolute;
    background-color: purple;
    bottom: 0;
    left: 0;
    height: 8%;
    width: 100%;
    z-index: 2;
}

// Fil d'arianne
nav {
    width: 80%;
    position: relative;
    margin: 90px auto;

    div {
        position: absolute;
    }

    #ligne {
        position: relative;
        width: 100%;
        height: 5px;
        background-color: #000000;
    }

    .piquet-1 {
        height: 50px;
        width: 20px;
        background-color: yellow;
        left: 10%;
        bottom: 0;
    }

    .piquet-2 {
        height: 50px;
        width: 20px;
        background-color: yellow;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
    }

    .piquet-3 {
        height: 50px;
        width: 20px;
        background-color: yellow;
        right: 10%;
        bottom: 0;
    }

    .personnage {
        width: 50px;
        height: 65px;
        background-color: green;
        bottom: 0;
    }

    .position-1 {
        left: 11%;
    }

    .position-2 {
        left: 50%;
    }

    .position-3 {
        left: 89%;
    }
}

main {
    height: calc(82% - 90px);
}

// Produits
.block_product {
    aspect-ratio: 101 / 108;
    background-color: #c7c7c7;
    width: 100%;
}

.list-products {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: -30px 0 30px;
    align-content: space-between;
    height: 87%;
    row-gap: 5%;
    column-gap: 25px;

    article {
        width: 32%;
    }

    button {
        width: 90%;
        left: 5%;
        position: relative;
        height: 30px;
    }
}

#nombrePanier {
    background-color: red;
    color: white;
    display: block;
    width: 80px;
    height: 80px;
    font-size: 50px;
    border-radius: 100%;
}

button {
    font-size: 50px;
}

.list-panier {
    margin: -30px auto 30px;
    width: 80%;

    article {
        width: 100%;
        border-radius: 20px;
        margin: 20px;
        border: solid black 2px;
        height: 150px;
        font-size: 40px;
        padding-left: 10px;
    }
}