* {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

html,
body {
	position: relative;
	font-size: 1em;
	background-color: #21bb4f;
	aspect-ratio: 9 / 16;
	height: 100%;
	overflow: hidden;
}

body {
	background-color: #D9EBF2;
}

//////////////////////
/// Page d'accueil ///
//////////////////////

#homePage {
	height: 100%;
	width: 100%;
	position: relative;

	h1 {
		position: relative;
		top: 10%;
		z-index: 2;
	}

	img {
		width: 60%;
		height: auto;

		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}

	button {
		all: unset;
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
		height: 25%;
		width: 100%;
		color: white;
		background-color: #4B6A71;
		border-radius: 25px 25px 0 0;
		font-size: 4em;

		p {
			position: relative;
			width: fit-content;
			margin: 4% auto 0;

			&::after {
				content: "";
				display: block;
				width: 17%;
				height: 7px;
				border-radius: 7px;
				background-color: #BF463B;

				position: absolute;
				right: -15px;
				bottom: -15px;
			}
		}

		&::before {
			content: "";
			display: block;
			width: 25%;
			height: auto;
			aspect-ratio: 1;
			border-radius: 100%;
			background-color: #1B3A41;

			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -50%);
			animation: MoveUpDown 1s cubic-bezier(0.4, 0, 1, 1) infinite;
		}

		&::after {
			content: "";
			display: block;
			width: 25%;
			height: auto;
			aspect-ratio: 1;
			border-radius: 100%;
			background-image: url("../img/tap.png");

			position: absolute;
			top: 0%;
			left: 51%;
			transform: translate(-50%, -48%);
			animation: MoveUpDown 1s cubic-bezier(0.4, 0, 1, 1) infinite;
		}
	}

	>video {
		position: absolute;
		bottom: 0%;
		width: 100%;
		height: auto;
	}
}

@keyframes MoveUpDown {

	0%,
	100% {
		top: 0;
	}

	50% {
		top: 4%;
	}
}

////////////////////////
/// Header et footer ///
////////////////////////

#othersPage {
	height: 20%;
	width: 100%;
	z-index: 2;
	position: relative;

	h1 {
		width: 38%;

		position: relative;
		left: 50%;
		top: 10%;
		transform: translateX(-50%);
	}

	img {
		width: 100%;
		height: auto;
	}
}

footer {
	height: 15%;
	width: calc(100% - 14%);
	background-color: #B2C7CF;
	border-radius: 25px 25px 0 0;
	padding: 0 7%;

	position: fixed;
	bottom: 0;
	left: 0;

	display: flex;
	justify-content: space-between;
	align-items: center;

	div {
		height: 70%;
		width: 50%;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		background-color: #96B3BE;
		border-radius: 25px;
		align-items: center;

		position: relative;

		button {
			width: 50%;
			height: 100%;
			font-size: 2em;
			text-align: center;
			font-weight: 700;
			z-index: 2;
			color: white;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		img {
			width: 60%;
			height: auto;
			-o-object-fit: contain;
			object-fit: contain;
			margin: 0 auto 5px;
		}

		&::after {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			right: 50%;
			width: 50%;
			height: 100%;
			border-radius: 25px;
			background-color: #4B6A71;
			transition: all ease-out .2s;
		}
	}

	#selectCours::after {
		left: 50%;
		right: 0;
		transition: all ease-out .2s;
	}

	button {
		all: unset;
		height: 70%;
		display: block;
		cursor: pointer;
	}

	#buttonPanier {
		background-color: #1B3A41;
		font-size: 2.5em;
		width: 22%;
		border-radius: 25px;
		text-align: center;
		align-content: center;
		position: relative;
		color: #E7E7E7;

		span {
			position: absolute;
			right: -30px;
			top: -30px;
			display: block;
			width: 70px;
			aspect-ratio: 1;
			height: auto;
			background-color: #BF463B;
			border-radius: 100%;
			align-content: center;
			font-size: 45px;
			font-weight: 700;
		}
	}
}

/////////////////////////
/// Pages de produits ///
/////////////////////////

main {
	height: 65%;
}

.listProducts {
	margin: 0 7%;
	height: 100%;

	h2 {
		font-size: 4em;
		position: relative;
		width: fit-content;
		margin-bottom: 5%;

		&::after {
			content: "";
			display: block;
			width: 50%;
			height: 7px;
			border-radius: 7px;
			background-color: #BF463B;

			position: absolute;
			right: 0px;
			bottom: -10px;
		}
	}

	>div {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		row-gap: 2.3vh;
	}
}

.blockProduct {
	width: 43%;
	height: 15vh;
	border-radius: 25px;
	position: relative;
	padding: 20px;

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 25px;
		object-fit: cover;
	}

	>div {
		width: calc(100% - 40px);
		position: absolute;
		bottom: 20px;

		div:first-of-type {
			position: relative;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: end;
			color: white;
			z-index: 1;

			h4 {
				font-size: 2.3em;
			}

			h3 {
				font-size: 1.5em;
				text-transform: uppercase;
			}
		}

		div:last-of-type {
			position: relative;
			z-index: 1;
			margin-top: 10px;
			display: flex;
			justify-content: space-between;

			button {
				height: 55px;
				border-radius: 14px;
				border: unset;


				&:first-child {
					width: 70%;
					font-size: 24px;
					background-color: #C0D5DD;
					color: #1D353F;
				}

				&:last-child {
					width: 25%;
					font-size: 24px;
					color: #ffffff;
					background-color: #1D353F;
				}
			}
		}

		&::before {
			content: "";
			display: block;
			position: absolute;
			left: -20px;
			bottom: -20px;

			background: linear-gradient(0deg, rgb(0, 0, 0) 35%, rgba(0, 0, 0, 0.7) 60%, rgba(0, 0, 0, 0) 90%);
			width: calc(100% + 40px);
			height: calc(100% + 65px);
			border-radius: 0 0 25px 25px;
		}
	}
}

///////////////////////////
/// Page de description ///
///////////////////////////

#productDescription {
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: fit-content;
	width: 85%;
	background-color: #D9EBF2;
	z-index: 2;
	padding: 30px 60px;
	border-radius: 30px;

	img {
		width: 100%;
		border-radius: 15px;
		border: 2px solid #1B3A41;
		object-fit: cover;
		margin: 50px 0 40px;
		height: 25vh;
	}

	h2 {
		width: fit-content;
		margin: auto;
		font-size: 4em;
		position: relative;

		&::after {
			content: "";
			display: block;
			width: 10px;
			height: 10px;
			border-radius: 7px;
			background-color: #BF463B;

			position: absolute;
			right: -12px;
			bottom: 14px;
		}
	}

	h3 {
		font-size: 2em;
		width: fit-content;
		position: relative;
		margin-bottom: 20px;

		&::after {
			content: "";
			display: block;
			width: 30%;
			height: 5px;
			border-radius: 3px;
			background-color: #BF463B;
			position: absolute;
			right: 0px;
			bottom: -5px;
		}
	}

	h4 {
		font-size: 1.8em;
		margin-bottom: 20px;
	}

	p {
		font-size: 1.2em;
		margin-bottom: 90px;
	}
}

#buttonDescription {
	display: flex;
	justify-content: space-between;
	margin: 50px 0 10px;

	button {
		height: 90px;
		border-radius: 18px;
		border: unset;

		&:first-child {
			width: 35%;
			background-color: #4B6A71;
			color: #E7E7E7;
			font-size: 40px;
		}

		&:last-child {
			width: 60%;
			color: #E7E7E7;
			background-color: #1B3A41;
			font-size: 50px;
			position: relative;

			&::before {
				content: "";
				display: block;
				position: absolute;
				background-color: #BF463B;
				width: 70px;
				height: 70px;
				border-radius: 100%;
				right: 0;
				top: 0;
				transform: translate(+40%, -40%);
			}

			&::after {
				content: "";
				display: block;
				position: absolute;
				background-image: url(../img/logo_panier.png);
				width: 45px;
				height: 45px;
				right: 0;
				top: 0;
				transform: translate(33%, -33%);
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}
}

#backgroundDescription,
#backgroundShopping {
	background-color: black;
	width: 100%;
	height: 100%;
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	z-index: 1;
	opacity: 0.4;
}

////////////////////
/// Paiement 1er ///
////////////////////

#shoppingCart {
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-height: 80%;
	width: 85%;
	background-color: #D9EBF2;
	z-index: 2;
	padding: 30px 60px;
	border-radius: 30px;

	h2 {
		font-size: 4em;
		text-align: center;
		position: relative;
		margin: auto;
		width: fit-content;
		margin-bottom: 25px;

		&::after {
			content: "";
			display: block;
			background-color: #BF463B;
			width: 15px;
			height: 15px;
			border-radius: 100%;

			position: absolute;
			right: -15px;
			bottom: 14px;
		}
	}

	article {
		position: relative;
		display: flex;
		margin: 35px 0;
		justify-content: space-between;
		padding-right: 10px;

		img {
			width: 46%;
			border-radius: 15px;
			border: 2px solid #1B3A41;
			object-fit: cover;
			height: 250px;
		}

		>div {
			width: 50%;
		}

		h3 {
			font-size: 3em;
			font-weight: 100;
			color: #1B3A41;
		}
	}

	hr {
		border: solid black 1px;
	}
}

.detailsPurchase {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	margin: 20px 0 40px;

	a {
		width: 40px;
		height: 40px;
		border-radius: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;

		&:first-of-type {
			background-color: #8EADB4;
		}

		&:last-of-type {
			background-color: #4B6A71;
		}
	}

	i {
		font-size: 1.5em;
	}

	span {
		margin: 0 10px;
		font-weight: 700;
		font-size: 2em;
	}

	p {
		position: absolute;
		right: 0;
		font-size: 2.5em;
		font-weight: 100;
	}
}

.deleteAll {
	opacity: 0.4;
	font-size: 2em;
}

#detailsShopping {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 35px;

	h3 {
		width: 40%;
		font-size: 2.3em;
		font-weight: 100;
	}

	>div {
		width: 50%;

		div {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-bottom: 20px;

			p {
				font-size: 1.6em;
			}

			p:last-child {
				text-align: right;
			}
		}

		h4 {
			font-size: 3em;
			color: #1B3A41;
			margin: 10px 0;
		}
	}
}

#listShopping {
	overflow-y: auto;
	max-height: 50vh;
}

#buttonShopping {
	display: flex;
	justify-content: space-between;
	margin: 50px 0 10px;

	button {
		height: 90px;
		border-radius: 18px;
		border: unset;


		&:first-child {
			width: 35%;
			background-color: #4B6A71;
			color: #E7E7E7;
			font-size: 40px;
		}

		&:last-child {
			width: 60%;
			color: #E7E7E7;
			background-color: #1B3A41;
			font-size: 50px;
			position: relative;

			&::before {
				content: "";
				display: block;
				position: absolute;
				background-color: #BF463B;
				width: 70px;
				height: 70px;
				border-radius: 100%;
				right: 0;
				top: 0;
				transform: translate(+40%, -40%);
			}

			&::after {
				content: "";
				display: block;
				position: absolute;
				background-image: url(../img/paiement.png);
				width: 50px;
				height: 50px;
				right: 0;
				top: 0;
				transform: translate(38%, -40%);
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}
}

///////////////////
/// Paiement 2e ///
///////////////////

#afterShopping {
	background-color: #B2C7CF;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	padding-top: 10vh;

	>div {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	>div:first-child {
		display: flex;
		flex-direction: column;

		button {
			height: 13vh;
			width: auto;
			aspect-ratio: 1.5 / 1;
			margin: 70px;
			background-color: #8EADB4;
			border: none;
			border-radius: 15px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-size: 2em;
			font-weight: 700;
			position: relative;
		}

		button:first-child::after {
			content: "";
			display: block;
			height: 5px;
			border-radius: 5px;
			width: 80%;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: 20px;
			background-color: #BF463B;
		}

		img {
			width: 25%;
			margin-top: 30px;
		}
	}

	>div:nth-child(2),
	>div:last-child {
		width: max-content;
		height: 50%;

		p {
			font-size: 2em;
			text-align: center;
		}

		>img {
			width: 60%;
			margin: 100px auto;

			position: relative;
			left: 50%;
			transform: translateX(-50%);
		}

		h2 {
			font-size: 3em;
			text-align: center;
			margin-bottom: 15px;
		}

		h4 {
			font-size: 1.8em;
			text-align: center;
			margin-bottom: 100px;
		}
	}

	#numberPurchase {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		column-gap: 50px;

		font-size: 50px;
		margin: 100px;

		img {
			width: 150px;
		}

		h3 {
			width: fit-content;
		}
	}

	i {
		font-size: 20em;
		color: #8EADB4;

		animation: MoveUpDownArrow 1s cubic-bezier(0.4, 0, 1, 1) infinite;

		position: relative;
		left: 50%;
		bottom: -25%;
		transform: translateX(-50%);
	}
}

@keyframes MoveUpDownArrow {

	0%,
	100% {
		bottom: -25%;
	}

	50% {
		bottom: -27%;
	}
}