* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    position: relative;
    font-size: 1em;
    background-color: #21bb4f;
    aspect-ratio: 9 / 16;
    height: 100%;
}

body {
    background-color: #c05454;
}

#homePage{
    height: 100%;
    width: 100%;
    background-color: #D9EBF2;
    position: relative;

    img {
        width: 60%;
        height: auto;

        position: relative;
        left: 50%;
        top: 10%;
        transform: translateX(-50%);
    }

    button {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 25%;
        width: 100%;
        color: white;
        background-color: #4B6A71;
        border-radius: 25px 25px 0 0;
        font-size: 4em;

        p {
            position: relative;
            width: fit-content;
            margin: 4% auto 0;

            &::after {
                content: "";
                display: block;
                width: 17%;
                height: 10px;
                border-radius: 10px;
                background-color: #BF463B;

                position: absolute;
                right: -15px;
                bottom: -15px;
            }
        }

        &::before {
            content: "";
            display: block;
            width: 25%;
            height: auto;
            aspect-ratio: 1;
            border-radius: 100%;
            background-color: #1B3A41;
            
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            animation: MoveUpDown 1s cubic-bezier(0.4, 0, 1, 1) infinite;
        }

        &::after {
            content: "";
            display: block;
            width: 25%;
            height: auto;
            aspect-ratio: 1;
            border-radius: 100%;
            background-image: url("../img/tap.png");
            
            position: absolute;
            top: 0%;
            left: 51%;
            transform: translate(-50%, -48%);
            animation: MoveUpDown 1s cubic-bezier(0.4, 0, 1, 1) infinite;
        }
    }
}

@keyframes MoveUpDown {
    0%, 100% {
      top: 0;
    }
    50% {
        top: 4%;
    }
}




// // Header et footer
// header {
//     position: sticky;
//     background-color: rgb(183, 101, 101);
//     top: 0;
//     width: 100%;
//     left: 0;
//     height: 10%;
//     z-index: 2;
// }

// footer {
//     position: absolute;
//     background-color: purple;
//     bottom: 0;
//     left: 0;
//     height: 8%;
//     width: 100%;
//     z-index: 2;
//     display: flex;
// }

// // Fil d'arianne
// nav {
//     width: 80%;
//     position: relative;
//     margin: 90px auto;

//     div {
//         position: absolute;
//     }

//     #ligne {
//         position: relative;
//         width: 100%;
//         height: 5px;
//         background-color: #000000;
//     }

//     .piquet-1 {
//         height: 50px;
//         width: 20px;
//         background-color: yellow;
//         left: 10%;
//         bottom: 0;
//     }

//     .piquet-2 {
//         height: 50px;
//         width: 20px;
//         background-color: yellow;
//         left: 50%;
//         transform: translateX(-50%);
//         bottom: 0;
//     }

//     .piquet-3 {
//         height: 50px;
//         width: 20px;
//         background-color: yellow;
//         right: 10%;
//         bottom: 0;
//     }

//     .personnage {
//         width: 50px;
//         height: 65px;
//         background-color: green;
//         bottom: 0;
//     }

//     .position-1 {
//         left: 11%;
//     }

//     .position-2 {
//         left: 50%;
//     }

//     .position-3 {
//         left: 89%;
//     }
// }

// main {
//     height: calc(82% - 90px);
// }

// // Produits
// .block_product {
//     aspect-ratio: 101 / 108;
//     background-color: #c7c7c7;
//     width: 100%;
// }

// .list-products {
//     display: flex;
//     margin: auto;
//     justify-content: space-evenly;
//     flex-wrap: wrap;
//     margin: -30px 0 30px;
//     align-content: space-between;
//     height: 87%;
//     row-gap: 5%;
//     column-gap: 25px;

//     article {
//         width: 32%;
//     }

//     button {
//         width: 90%;
//         left: 5%;
//         position: relative;
//         height: 30px;
//     }
// }

// #nombrePanier {
//     background-color: red;
//     color: white;
//     display: block;
//     width: 80px;
//     height: 80px;
//     font-size: 50px;
//     border-radius: 100%;
// }

// button {
//     font-size: 50px;
// }

// .list-panier {
//     margin: -30px auto 30px;
//     width: 80%;

//     article {
//         width: 100%;
//         border-radius: 20px;
//         margin: 20px;
//         border: solid black 2px;
//         height: 200px;
//         font-size: 40px;
//         padding-left: 10px;
//     }
// }