* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    position: relative;
    font-size: 1em;
    background-color: #21bb4f;
    aspect-ratio: 9 / 16;
    height: 100%;
}

body {
    background-color: #D9EBF2;
}

//////////////////////
/// Page d'accueil ///
//////////////////////

#homePage{
    height: 100%;
    width: 100%;
    position: relative;

    h1 {
        position: relative;
        top: 10%;
        z-index: 2;
    }

    img {
        width: 60%;
        height: auto;

        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    button {
        all: unset;
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 25%;
        width: 100%;
        color: white;
        background-color: #4B6A71;
        border-radius: 25px 25px 0 0;
        font-size: 4em;

        p {
            position: relative;
            width: fit-content;
            margin: 4% auto 0;

            &::after {
                content: "";
                display: block;
                width: 17%;
                height: 7px;
                border-radius: 7px;
                background-color: #BF463B;

                position: absolute;
                right: -15px;
                bottom: -15px;
            }
        }

        &::before {
            content: "";
            display: block;
            width: 25%;
            height: auto;
            aspect-ratio: 1;
            border-radius: 100%;
            background-color: #1B3A41;
            
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            animation: MoveUpDown 1s cubic-bezier(0.4, 0, 1, 1) infinite;
        }

        &::after {
            content: "";
            display: block;
            width: 25%;
            height: auto;
            aspect-ratio: 1;
            border-radius: 100%;
            background-image: url("../img/tap.png");
            
            position: absolute;
            top: 0%;
            left: 51%;
            transform: translate(-50%, -48%);
            animation: MoveUpDown 1s cubic-bezier(0.4, 0, 1, 1) infinite;
        }
    }

    > img {
        position: absolute;
        bottom: 4%;
        width: 100%;
        height: auto;
    }
}

@keyframes MoveUpDown {
    0%, 100% {
      top: 0;
    }
    50% {
        top: 4%;
    }
}

////////////////////////
/// Header et footer ///
////////////////////////

#othersPage {
    height: 20%;
    width: 100%;

    h1 {
        width: 38%;

        position: relative;
        left: 50%;
        top: 10%;
        transform: translateX(-50%);
    }

    img {
        width: 100%;
        height: auto;
    }
}

footer {
    height: 15%;
    width: calc(100% - 14%);
    background-color: #B2C7CF;
    border-radius: 25px 25px 0 0;
    padding: 0 7%;

    position: fixed;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    div {
        height: 70%;
        width: 50%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        background-color: #96B3BE;
        border-radius: 25px;
        align-items: center;

        position: relative;

        button {
            width: 50%;
            height: 100%;
            font-size: 2em;
            text-align: center;
            font-weight: 700;
            z-index: 2;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        img {
            width: 60%;
            height: auto;
            -o-object-fit: contain;
            object-fit: contain;
            margin: 0 auto 5px;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            right: 50%;
            width: 50%;
            height: 100%;
            border-radius: 25px;
            background-color: #4B6A71;
            transition: all ease-out .2s;
        }
    }

    #selectCours::after {
        left: 50%;
        right: 0;
        transition: all ease-out .2s;
    }

    button {
        all: unset;
        height: 70%;
        display: block;
        cursor: pointer;
    }

    #buttonPanier {
        background-color: #1B3A41;
        font-size: 2.5em;
        width: 22%;
        border-radius: 25px;
        text-align: center;
        align-content: center;
        position: relative;
        color: #E7E7E7;

        span {
            position: absolute;
            right: -30px;
            top: -30px;
            display: block;
            width: 70px;
            aspect-ratio: 1;
            height: auto;
            background-color: #BF463B;
            border-radius: 100%;
            align-content: center;
            font-size: 45px;
            font-weight: 700;
        }
    }
}

/////////////////////////
/// Pages de produits ///
/////////////////////////

main {
    height: 65%;
}

.listProducts {
    margin: 0 7%;
    height: 100%;

    h2 {
        font-size: 4em;
        position: relative;
        width: fit-content;
        margin-bottom: 5%;

        &::after {
            content: "";
            display: block;
            width: 50%;
            height: 7px;
            border-radius: 7px;
            background-color: #BF463B;

            position: absolute;
            right: 0px;
            bottom: -10px;
        }
    }

    > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 2.3vh;
    }
}

.blockProduct {
    width: 43%;
    height: 15vh;
    border-radius: 25px;
    background-color: #1B3A41;
    position: relative;
    padding: 20px;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    > div {
        width: calc(100% - 40px);
        position: absolute;
        bottom: 20px;

        div:first-of-type {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: end;
            color: white;
            z-index: 1;

            h4 {
                font-size: 2.3em;
            }

            h3 {
                font-size: 1.5em;
                text-transform: uppercase;
            }
        }

        div:last-of-type {
            position: relative;
            z-index: 1;
            margin-top: 10px;
            display: flex;
            justify-content: space-between;

            button {
                height: 55px;
                border-radius: 14px;
                border: unset;
                

                &:first-child {
                    width: 70%;
                    font-size: 24px;
                    background-color: #C0D5DD;
                    color: #1D353F;
                }

                &:last-child {
                    width: 25%;
                    font-size: 24px;
                    color: #ffffff;
                    background-color: #1D353F;
                }
            }
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            left: -20px;
            bottom: -20px;

            background: linear-gradient(0deg, rgb(0, 0, 0) 35%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0) 100%);
            width: calc(100% + 40px);
            height: calc(100% + 50px);
            border-radius: 0 0 25px 25px;
        }
    }
}

///////////////////////////
/// Page de description ///
///////////////////////////

#productDescription {
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    height: fit-content;
    width: 80%;
    background-color: #21bb4f;
    z-index: 2;
}

#backgroundDescription {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0.4;
}

// // Header et footer
// header {
//     position: sticky;
//     background-color: rgb(183, 101, 101);
//     top: 0;
//     width: 100%;
//     left: 0;
//     height: 10%;
//     z-index: 2;
// }

// footer {
//     position: absolute;
//     background-color: purple;
//     bottom: 0;
//     left: 0;
//     height: 8%;
//     width: 100%;
//     z-index: 2;
//     display: flex;
// }

// // Fil d'arianne
// nav {
//     width: 80%;
//     position: relative;
//     margin: 90px auto;

//     div {
//         position: absolute;
//     }

//     #ligne {
//         position: relative;
//         width: 100%;
//         height: 5px;
//         background-color: #000000;
//     }

//     .piquet-1 {
//         height: 50px;
//         width: 20px;
//         background-color: yellow;
//         left: 10%;
//         bottom: 0;
//     }

//     .piquet-2 {
//         height: 50px;
//         width: 20px;
//         background-color: yellow;
//         left: 50%;
//         transform: translateX(-50%);
//         bottom: 0;
//     }

//     .piquet-3 {
//         height: 50px;
//         width: 20px;
//         background-color: yellow;
//         right: 10%;
//         bottom: 0;
//     }

//     .personnage {
//         width: 50px;
//         height: 65px;
//         background-color: green;
//         bottom: 0;
//     }

//     .position-1 {
//         left: 11%;
//     }

//     .position-2 {
//         left: 50%;
//     }

//     .position-3 {
//         left: 89%;
//     }
// }

// main {
//     height: calc(82% - 90px);
// }

// // Produits
// .block_product {
//     aspect-ratio: 101 / 108;
//     background-color: #c7c7c7;
//     width: 100%;
// }

// .list-products {
//     display: flex;
//     margin: auto;
//     justify-content: space-evenly;
//     flex-wrap: wrap;
//     margin: -30px 0 30px;
//     align-content: space-between;
//     height: 87%;
//     row-gap: 5%;
//     column-gap: 25px;

//     article {
//         width: 32%;
//     }

//     button {
//         width: 90%;
//         left: 5%;
//         position: relative;
//         height: 30px;
//     }
// }

// #nombrePanier {
//     background-color: red;
//     color: white;
//     display: block;
//     width: 80px;
//     height: 80px;
//     font-size: 50px;
//     border-radius: 100%;
// }

// button {
//     font-size: 50px;
// }

// .list-panier {
//     margin: -30px auto 30px;
//     width: 80%;

//     article {
//         width: 100%;
//         border-radius: 20px;
//         margin: 20px;
//         border: solid black 2px;
//         height: 200px;
//         font-size: 40px;
//         padding-left: 10px;
//     }
// }