* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  position: relative;
  font-size: 1em;
  background-color: #21bb4f;
  aspect-ratio: 9/16;
  height: 100%;
}

body {
  background-color: #D9EBF2;
}

#homePage {
  height: 100%;
  width: 100%;
  position: relative;
}
#homePage h1 {
  position: relative;
  top: 10%;
  z-index: 2;
}
#homePage img {
  width: 60%;
  height: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
#homePage button {
  all: unset;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 25%;
  width: 100%;
  color: white;
  background-color: #4B6A71;
  border-radius: 25px 25px 0 0;
  font-size: 4em;
}
#homePage button p {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: 4% auto 0;
}
#homePage button p::after {
  content: "";
  display: block;
  width: 17%;
  height: 7px;
  border-radius: 7px;
  background-color: #BF463B;
  position: absolute;
  right: -15px;
  bottom: -15px;
}
#homePage button::before {
  content: "";
  display: block;
  width: 25%;
  height: auto;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: #1B3A41;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: MoveUpDown 1s cubic-bezier(0.4, 0, 1, 1) infinite;
}
#homePage button::after {
  content: "";
  display: block;
  width: 25%;
  height: auto;
  aspect-ratio: 1;
  border-radius: 100%;
  background-image: url("../img/tap.png");
  position: absolute;
  top: 0%;
  left: 51%;
  transform: translate(-50%, -48%);
  animation: MoveUpDown 1s cubic-bezier(0.4, 0, 1, 1) infinite;
}
#homePage video {
  position: absolute;
  bottom: 4%;
  left: 0;
  width: 100%;
  height: auto;
}

@keyframes MoveUpDown {
  0%, 100% {
    top: 0;
  }
  50% {
    top: 4%;
  }
}
#othersPage {
  height: 20%;
  width: 100%;
}
#othersPage h1 {
  width: 38%;
  position: relative;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}
#othersPage img {
  width: 100%;
  height: auto;
}

footer {
  height: 15%;
  width: 86%;
  background-color: #B2C7CF;
  border-radius: 25px 25px 0 0;
  padding: 0 7%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer div {
  height: 70%;
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #96B3BE;
  border-radius: 25px;
  align-items: center;
  position: relative;
}
footer div button {
  width: 50%;
  height: 100%;
  font-size: 2em;
  text-align: center;
  font-weight: 700;
  z-index: 2;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer div img {
  width: 60%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  margin: 0 auto 5px;
}
footer div::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 50%;
  width: 50%;
  height: 100%;
  border-radius: 25px;
  background-color: #4B6A71;
  transition: all ease-out 0.2s;
}
footer #selectCours::after {
  left: 50%;
  right: 0;
  transition: all ease-out 0.2s;
}
footer button {
  all: unset;
  height: 70%;
  display: block;
  cursor: pointer;
}
footer #buttonPanier {
  background-color: #1B3A41;
  font-size: 2.5em;
  width: 22%;
  border-radius: 25px;
  text-align: center;
  align-content: center;
  position: relative;
  color: #E7E7E7;
}
footer #buttonPanier span {
  position: absolute;
  right: -30px;
  top: -30px;
  display: block;
  width: 70px;
  aspect-ratio: 1;
  height: auto;
  background-color: #BF463B;
  border-radius: 100%;
  align-content: center;
  font-size: 45px;
  font-weight: 700;
}

main {
  height: 65%;
}

.listProducts {
  margin: 0 7%;
  height: 100%;
}
.listProducts h2 {
  font-size: 4em;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 5%;
}
.listProducts h2::after {
  content: "";
  display: block;
  width: 50%;
  height: 7px;
  border-radius: 7px;
  background-color: #BF463B;
  position: absolute;
  right: 0px;
  bottom: -10px;
}
.listProducts > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 2.3vh;
}

.blockProduct {
  width: 43%;
  height: 15vh;
  border-radius: 25px;
  background-color: #1B3A41;
  position: relative;
  padding: 20px;
}
.blockProduct img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.blockProduct > div {
  width: calc(100% - 40px);
  position: absolute;
  bottom: 20px;
}
.blockProduct > div div:first-of-type {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  color: white;
  z-index: 1;
}
.blockProduct > div div:first-of-type h4 {
  font-size: 2.3em;
}
.blockProduct > div div:first-of-type h3 {
  font-size: 1.5em;
  text-transform: uppercase;
}
.blockProduct > div div:last-of-type {
  position: relative;
  z-index: 1;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.blockProduct > div div:last-of-type button {
  height: 55px;
  border-radius: 14px;
  border: unset;
}
.blockProduct > div div:last-of-type button:first-child {
  width: 70%;
  font-size: 24px;
  background-color: #C0D5DD;
  color: #1D353F;
}
.blockProduct > div div:last-of-type button:last-child {
  width: 25%;
  font-size: 24px;
  color: #ffffff;
  background-color: #1D353F;
}
.blockProduct > div::before {
  content: "";
  display: block;
  position: absolute;
  left: -20px;
  bottom: -20px;
  background: linear-gradient(0deg, rgb(0, 0, 0) 35%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0) 100%);
  width: calc(100% + 40px);
  height: calc(100% + 50px);
  border-radius: 0 0 25px 25px;
}/*# sourceMappingURL=style.css.map */